<!--Workflow:
    1. Give supervisor a checkin link, generate a url query<br>
    http://localhost:4200/supervisorcheck/:eventId/:supervisorId<br>
    2. supervisor click the link, and need to log in with its supervisor account<br>
    3. After verification, supervisor can see the checkin page<br>
    4. supervisor can checkin/checkout students in the form<br>
    5. submit the form, and update the database<br>

-->

<h1>Event Name</h1>

<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Check-In</th>
            <th>Check-Out</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let student of studentsInfo">
            <td>{{student.name}}</td>
            <td>
                <input type="checkbox" [(ngModel)]="student.checkin">
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="student.checkout">
            </td>
        </tr>
    </tbody>
    <button type="submit" (click)="onSubmit()">Submit Form</button>
</table>