<nav class="navbar mb-5 navbar-dark bg-primary">
    <div class="container-fluid">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <ul class="navbar-nav ms-auto flex-row" style="width: 300px;">
          <li class="nav-item">
            <div class = "home-div" routerLinkActive="surrounded"[routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></div>
          </li>
          <li class="nav-item">
            <div class = "events-div" routerLinkActive="surrounded"><a class="nav-link" routerLink="/events">Events</a></div>
          </li>
          <li class="nav-item">
            <div class = "rankings-div" routerLinkActive="surrounded"><a class="nav-link" routerLink="/rankings">Rankings</a></div>
          </li>
        </ul>
    </div>
</nav>