<!-- back button -->
<div class="container">
    <a routerLink="/events">
        <button>Back</button>
    </a>

    <div class="card mt-3" *ngIf="event; else elseBlock">
        <img src="assets/ASSIST.jpeg" class="card-img-top rounded" style="width:300px;">
        <div class="card-body">

            <p class="card-title fs-3 fw-bold">{{event.name}}</p>
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                Show attendees
            </a>
            <hr>
            <div class="card-subtitle mb-2 mt-3 text-muted">

                <p class="fs-4 text-black">Location</p>
                <p class="mb-0">{{event.location.street}}</p>
                <p class="mt-0">{{event.location.city}}, {{event.location.state}}</p>
            </div>

            <p class="fs-4 mt-3">Description</p>
            <p class="card-text">{{event.description}}</p>
        </div>
        <button type="button" id="attend" class="btn btn-primary" (click)="attendEvent()"
            *ngIf="!checkattend()">Register to
            Attend</button>
        <button type="button" id="attend" class="btn btn-primary" (click)="attendEvent()"
            *ngIf="checkattend()">Unregister</button>


    </div>
    <div #offCanvasElement>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Attendees</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul>
                        <li *ngFor="let attendee of  idToNameMap">
                            <a [routerLink]="['/profile', attendee.key]">
                                {{ attendee.value }}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <h1>No Such event exist</h1>
    </ng-template>
</div>