.assist-blue{
    /* color: rgb(55,88,227); */
    color: rgb(49,108,244);
}

.assist-oragne{
    color:rgb(238,129,80);
}


.mdc-tab__content{
    color: white;
    background-color: rgb(82,57,199);
    width: 100px;  
}

.custom-
{
    width:500px;
    margin:auto;
}


.event-page-bottom{
    /* background-color:rgb(246,248,254); */
    /* background-color: rgb(49,108,244); */
    backdrop-filter: blur(5px);
    height:100%;
    width:100%;
    border-radius:20px;
    padding:0;
}

.events-wrap{
    margin:auto;
    border-radius:20px;
    background-color:rgb(250,250,250);
    padding:5px;
}


.vertical{
    margin:5px;
    width: 1px;
    background-color: rgb(95,95,95);
}

.create-event{
    /* background-color:rgb(238,129,80); */
    background-color:rgb(49,108,244);
    color:white;
    border-radius:25px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    width:95%;
    margin:10px auto 10px;
    padding:10px;
}


.create-event:hover{
    cursor:pointer;
    border-width:3px;
    opacity:80%;
}

.info-wrap{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    /* background-color: rgb(250,250,250); */
    margin:auto;
}

.points-content{
    display:inline-block;
}

/* .instruct{
    background-color: rgb(55,88,227);
    padding:10px;
} */

.instruct-content{
    /* color:white; */
    display:inline-block;
}

.instruct-sub-content{
    /* color:white; */
    padding-left:20px;
}

.calendar-container{
    position: relative;
    max-width:100px;
}

.calendar{
    /* width: 100px; */
    height:100px;
    border-style:solid;
    border-color:black !important;
    border-width:2px !important;  /* why this doesn't work */
    border-radius:5px;
    background-color: rgb(250,250,250);
}

.calendar-top{
    position: absolute;
    top: 0%;
    left: 0%;
    /* width: 100px; */
    width: 100%;
    height:40px;
    border-style:solid;
    border-color:black !important;
    border-width:2px !important;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: rgb(221,96,84);
    z-index: 1;
}

.calendar-overlay-top{
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
}

.calendar-overlay{
    position: absolute;
    top: 50%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* padding: 20px; */
    padding: 10%;
    z-index: 1;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/* for large screen */
@media only screen and (min-width: 1200px) {

    .events-wrap{
        max-width: 800px;
    }

   .event-page-bottom{
        width:850px
    } 

    .create-event{
        width:500px;
    }

    .info-wrap{
        width:800px;
    }

    .points-wrap{
        padding:15px; 
        width:400px; 
        margin:auto;
    }

    .points-content{
        font-size:14px !important;
    }

    .tips-wrap{
        width:700px; 
        margin:auto;
    }

    .instruct-content{
        padding-left:5px;
    }
    
    .font-awesome{
        color:rgb(49,108,244);
    }
}


/* for small screen */
@media only screen and (max-width: 576px) {

    .event-page-bottom{
        width:100%;
    } 

    .events-wrap{
        width: 90%;
    }

    .create-event{
        width:95%;
    }

    .info-wrap{
        width:100%;
        background-color: rgb(250,250,250);
    }

    .points-wrap{
        padding:15px; 
        width:85%; 
        margin:auto;
    }

    .points-content{
        font-size:11px !important;
    }


    .tips-wrap{
        width:90%; 
        margin:auto;
    }
    
    .instruct{
        background-color: rgb(55,88,227);
        padding:10px;
        color:white !important;
    }

    .instruct-content{
        padding-left:5px;
        font-size:13px !important;
        color:white;
    }

    .instruct-sub-content{
        padding-left:5px;
        font-size:12px !important;
        color:white;
    }

    .font-awesome{
        color:white;
    }
}
