<div class="container-xl event-page-bottom">
    <!-- nav bar -->
    <mat-tab-group class="custom-tab-group"> <!-- how do I adjust the spacing between tabs? -->

        <!-- events in a week -->
        <mat-tab label="Week">
            <div class="events-wrap">
                <table>
                    <tbody>
                        <tr *ngFor="let event of weeklyEvents">
                            <div class="assist-blue">{{event.date}}</div>
                                <div>
                                <td class="text-secondary" style="width:50px;">{{event.time.hour}}:{{event.time.minute}}</td>
                                <td class="vertical"></td>
                                <td class="text-secondary" style="padding-left:10px;">{{event.name}}<br>
                                    {{event.location.city}}, {{event.location.state}}
                                </td>                       
                                <td class="text-end">
                                    <!-- only valid for static route -->
                                    <!-- <a routerLink="/event-detail/{{event._id}}"> -->

                                    <!-- <a [routerLink]="'/event-detail/' + event._id"> -->
                                    <a [routerLink]="'/event-detail/' + event.id">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </td> 
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>

        <!-- events in a month -->
        <mat-tab label="Month">
            <div class="events-wrap">
                <table>
                    <tbody>
                        <tr *ngFor="let event of monthlyEvents">
                            <div class="assist-blue">{{event.date}}</div>
                                <div>
                                <td class="text-secondary" style="width:50px;">{{event.time.hour}}:{{event.time.minute}}</td>
                                <td class="vertical"></td>
                                <td class="text-secondary" style="padding-left:10px;">{{event.name}}<br>
                                    {{event.location.city}}, {{event.location.state}}
                                </td>
                                <td class="text-end">
                                    <!-- only valid for static route -->
                                    <!-- <a routerLink="/event-detail/{{event._id}}"> -->

                                    <!-- <a [routerLink]="'/event-detail/' + event._id"> -->
                                    <a [routerLink]="'/event-detail/' + event.id">
                                        <i class="fa-sharp fa-solid fa-chevron-right"></i>
                                    </a>
                                </td> 
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>

    </mat-tab-group>

    <!-- Create Event button -->
    <div class="fs-5 text-center create-event" (click)="createEvent()">Create Event</div>


    <div class="info-wrap">
        <p class="fs-5 fw-bold text-center assist-blue mb-1">Need More Points?</p>
        <p class="fs-6 text-center text-secondary">We are here to help.</p>
        <div class="points-wrap">
            <i class="fa-solid fa-check" style="color: #ee8150; width:20px; font-size:18px;"></i>
            <p class="fs-6 fw-bold assist-blue points-content">1 point = 1 hour</p><br>

            <i class="fa-solid fa-check" style="color: #ee8150; width:20px; font-size:18px;"></i>
            <p class="fs-6 fw-bold assist-blue points-content">Get double points for bringing family and friends!</p>
            <br>

            <i class="fa-solid fa-check" style="color: #ee8150; width:20px; font-size:18px;"></i>
            <p class="fs-6 fw-bold assist-blue points-content">Get triple points for creating and event</p>
        </div>

        <!-- instruction area(with backgound color: assist-blue) -->
        <div class="instruct">

            <p class="fs-5 fw-bold mb-1 mt-3 text-center" style="color:white">Few tips before the event</p>
            <p class="fs-6 fw-light mt-0 text-center" style="color:white">To help you get the points you need.</p>

            <!-- 1 -->
            <p class="text-center fs-4 mt-5" style="color:white;"><i class="fa-solid fa-1"></i></p>
            <div class="tips-wrap">
                <i class="fa-solid fa-camera-retro" style="color:white;"></i>
                <p class="fs-6 instruct-content">Scan In / Out to receive full credit for attendance</p>
                <p class="fs-6 fw-light instruct-sub-content">
                    The staff working the event will have the scanner with them so make sure you scan using the Assist
                    App. Located on the home page, you will find the section to scan.
                </p>
            </div>

            <!-- 2 -->
            <p class="text-center fs-4 mt-4" style="color:white;"><i class="fa-solid fa-2"></i></p>
            <div class="tips-wrap">
                <i class="fa-solid fa-print" style="color:white;"></i>
                <p class="fs-6 instruct-content">Take a photo of the event or you participating</p>
                <p class="fs-6 fw-light instruct-sub-content">
                    This helps keep track of the events you have attended over the course of the season.
                    The photos will be used to verify you were there and also serve as
                </p>
            </div>
        </div>
    </div>

</div> <!-- <div class="container-xl event-page-bottom"> -->
