<h1>Edit My Profile </h1>

<form #myForm="ngForm" class="form-control" (ngSubmit)="onSubmit(myForm)">
    <label for="username">User Name:</label>
    <input type="text" class="form-control" id="username" placeholder="username" name="username" ngModel
        #username="ngModel">
    <br>
    <label for="name">Last Name:</label>
    <input type="text" class="form-control" id="name">
    <br>
    <label for="name">First Name:</label>
    <input type="text" class="form-control" id="name">
    <br>
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email">
    <br>
    <label for="school">School:</label>
    <select class="form-control" formControlName="selectedOption" id="school">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>