<div class="container posts-container">
    <div class="row" style="width: 100%;" *ngFor="let post of posts">
        <div class="col col-lg-12 col-md-12 col-sm-12 justify-content-center" style="display: flex;">
            <!-- <img src="{{post}}" alt="image"> -->
            <div class="card">
                <div class="position-relative">
                  <img src="{{post}}" class="card-img-top" alt="Image">
                  <div class="profile-overlay">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="profile-img" alt="Profile Image">
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">Card Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" -->
