@media only screen and(min-width: 1200px){
    .image-height{
        height:400px;
    }
}

@media only screen and(max-width: 1200px){
    .image-height{
        height:100px;
    }
}



.posts-container{
    width: 100%;
}

.card {
    position: relative;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.profile-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
  
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}

