.main-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('../../assets/blue-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.newpassword-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 0;
    border-radius: 20px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
}
.loading-image {
  max-width: 200px; 
}