<div class="main-container">
    <div *ngIf="isLoading" class="loading-overlay">
        <img src="https://i.gifer.com/yy3.gif" alt="Loading..." class="loading-image">
    </div>
    <div class="newpassword-container" >
        <div class="row" style="text-align: center; margin-top: 20px;">
            <div class="col col-sm-12">
                <img src="../../assets/ASSIST.jpeg" alt="logo" style="width: 100px; height: 100px; border-radius: 50%;">
            </div>
        </div>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row" style="padding: 10px;">
                <div class="col col-sm-12">
                    <label for="password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="New Password" aria-describedby="passwordHelpBlock">
                    <div id="passwordHelpBlock" class="form-text" style="color: black;">
                        Password must be at least 8 characters long and contain at least 1 special character, 1 number, 1 uppercase, and 1 lowercase letter.
                    </div>
                    <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" style="color: red;">
                        <p *ngIf="this.passwordForm.get('password')?.value.errors?.required" >Password is required.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="col col-sm-12">
                    <label for="confirm-password" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm-password" formControlName="confirm-password" placeholder="Confirm Password">
                    <div *ngIf="errorMessage" class="error-message" style="color: red;">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </div>  
            <div class="row" style="padding: 10px; text-align: center;">
                <div class="col col-sm-12">
                    <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Submit</button>
                </div>
            </div>   
        </form>
    </div>
    
</div>

