.sidebar {
    position: sticky;
    top: 37px;
    /* background-color: #f1f1f1; */
    /* padding-top: 50px; */
    overflow-y: auto;    
    max-height: calc(80vh - 40px);
}
.content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mdc-list-item.mdc-list-item--with-one-line{
    height: 70px;
}