<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form ngNativeValidate (ngSubmit)="submit()">

        <label class="form-label mb-0 mt-3 fw-bold">Event Name</label>

        <input id="event" type="text" name="Event" class="form-control" [(ngModel)]="eventForm.name" required
            [pattern]="unamePattern" minlength=4 maxlength=100 #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <small *ngIf="name.errors?.['required']">
                Name is required.
            </small>
            <small *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
            </small>
            <small *ngIf="name.errors?.['pattern']"> Event name can only contain letters numbers and underscores.
            </small>

        </div>
        <!-- <label class="form-label mb-0 mt-3 fw-bold">Upload Photo</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)" required="">
        <div *ngIf="isWrongExtension">
            Only JPEG and PNG files are allowed.
        </div> -->

        <!-- <label class="form-label mb-0 mt-3 fw-bold">Date</label>
        <input id="date" type="text" name="Date" class="form-control" [(ngModel)]="eventForm.date"> -->

        <div class="mb-0 mt-3">
            <label class="form-label fw-bold">Date</label><br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="Date" [(ngModel)]="formDate"
                    required #date="ngModel">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [panelClass]="'modal-datepicker-panel'"
                    [startAt]="datePickerStartAt"></mat-datepicker>
            </mat-form-field>
            <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert">
                <small *ngIf="date.errors?.['required']">
                    Date is required.
                </small>
            </div>

        </div>

        <!-- <label class="form-label mb-0 mt-3 fw-bold">Time</label>
        <input id="time" type="text" name="Time" class="form-control" [(ngModel)]="eventForm.time"> -->

        <!-- <div class="row">
            <div class="col-6">
                <label class="form-label mb-0 mt-3 fw-bold">Start Time</label>
                <ngb-timepicker [(ngModel)]="eventForm.start_time" name="starttime"></ngb-timepicker>
            </div>

            <div class="col-6">
                <label class="form-label mb-0 mt-3 fw-bold">End Time</label>
                <ngb-timepicker [(ngModel)]="eventForm.end_time" name="endtime"></ngb-timepicker>
            </div>
        </div> -->

        <label label class="form-label mb-0 mt-3 fw-bold"></label>Start Time<br>
        <input id ="start_time_hour" type="text" name="start_time_hour" class="form-control" [(ngModel)]="eventForm.start_time.hour" required>
        <div *ngIf=!eventForm.start_time.hour class="alert">
            <small>Start time hour is required.</small>
        </div>
        <div *ngIf="eventForm.start_time.hour && (eventForm.start_time.hour < 0 || eventForm.start_time.hour > 24)" class="alert">
            <small>Start time hour should be within 0 to 24.</small>
        </div>
        <input id ="start_time_minute" type="text" name="start_time_minute" class="form-control" [(ngModel)]="eventForm.start_time.minute">
        <div *ngIf=!eventForm.start_time.minute class="alert">
            <small>Start time hour is required.</small>
        </div>
        <div *ngIf="eventForm.start_time.minute && (eventForm.start_time.minute < 0 || eventForm.start_time.minute > 60)" class="alert">
            <small>Start time minute should be within 0 to 60.</small>
        </div>


        <label label class="form-label mb-0 mt-3 fw-bold"></label>End Time<br>
        <input id ="end_time_hour" type="text" name="end_time_hour" class="form-control" [(ngModel)]="eventForm.end_time.hour">
        <div *ngIf="eventForm.end_time.hour && (eventForm.end_time.hour < 0 || eventForm.end_time.hour > 24)" class="alert">
            <small>End time hour should be within 0 to 24.</small>
        </div>
        <input id ="end_time_minute" type="text" name="end_time_minute" class="form-control" [(ngModel)]="eventForm.end_time.minute">
        <div *ngIf="eventForm.end_time.minute && (eventForm.end_time.minute < 0 || eventForm.end_time.minute > 60)" class="alert">
            <small>End time minute should be within 0 to 60.</small>
        </div>

        <label class="form-label mb-0 mt-3 fw-bold">Location</label><br>
        <label class="form-label mb-0 mt-1">Street Address</label>
        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.street"
            [pattern]="unamePattern" required maxlength=500 #street="ngModel">

        <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert">
            <small *ngIf="street.errors?.['required']">
                Street Address is required.
            </small>
            <small *ngIf="street.errors?.['pattern']"> Street can only contain letters numbers and underscores.
            </small>
        </div>

        <label class="form-label mb-0 mt-0">City</label>

        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.city"
            [pattern]="unamePattern" required maxlength=100 #city="ngModel">

        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
            <small *ngIf="city.errors?.['required']">
                City is required.
            </small>
            <small *ngIf="city.errors?.['pattern']"> City can only contain letters numbers and underscores.
            </small>
        </div>
        <label class="form-label mb-0 mt-0">State</label>
        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.state"
            [pattern]="unamePattern" required maxlength=100 #state="ngModel">
        <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert">
            <small *ngIf="state.errors?.['required']">
                State is required.</small>
            <small *ngIf="state.errors?.['pattern']"> State can only contain letters numbers and underscores.
            </small>
        </div>



        <label class="form-label mb-0 mt-3 fw-bold">Description</label>
        <input id="description" type="text" name="Description" class="form-control" [(ngModel)]="eventForm.description"
            [pattern]="unamePattern" required maxlength=1000 #description="ngModel">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
            <small *ngIf="description.errors?.['required']">
                Description is required.</small>
            <small *ngIf="description.errors?.['pattern']"> Description can only contain letters numbers and
                underscores.
            </small>
        </div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose a date" name="Date"
                required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [panelClass]="'modal-datepicker-panel'"
                [startAt]="datePickerStartAt"></mat-datepicker>
        </mat-form-field>

        <!-- Submit button -->
        <div class="text-end mt-3">
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </form>
</div>

