<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form ngNativeValidate (ngSubmit)="submit()">

        <label class="form-label mb-0 mt-3 fw-bold">Event Name</label>
        <input id="event" type="text" name="Event" class="form-control" [(ngModel)]="eventForm.name">

        <!-- <label class="form-label mb-0 mt-3 fw-bold">Upload Photo</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)" required="">
        <div *ngIf="isWrongExtension">
            Only JPEG and PNG files are allowed.
        </div> -->

        <!-- <label class="form-label mb-0 mt-3 fw-bold">Date</label>
        <input id="date" type="text" name="Date" class="form-control" [(ngModel)]="eventForm.date"> -->

        <div class="mb-0 mt-3">
            <label class="form-label fw-bold">Date</label><br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="Date" [(ngModel)]="formDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [panelClass]="'modal-datepicker-panel'" [startAt]="datePickerStartAt"></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- <label class="form-label mb-0 mt-3 fw-bold">Time</label>
        <input id="time" type="text" name="Time" class="form-control" [(ngModel)]="eventForm.time"> -->
        
        <label class="form-label mb-0 mt-3 fw-bold">Time</label>
        <ngb-timepicker [(ngModel)]="eventForm.time" name="time"></ngb-timepicker>

        <label class="form-label mb-0 mt-3 fw-bold">Location</label><br>
        <label class="form-label mb-0 mt-1">Street Address</label>
        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.street">
        <label class="form-label mb-0 mt-0">City</label>
        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.city">
        <label class="form-label mb-0 mt-0">State</label>
        <input id="location" type="text" name="Location" class="form-control" [(ngModel)]="eventForm.location.state">

        <label class="form-label mb-0 mt-3 fw-bold">Description</label>
        <input id="description" type="text" name="Description" class="form-control" [(ngModel)]="eventForm.description">

        <!-- Submit button -->
        <div class="text-end mt-3">
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </form>
</div>
