.btn-primary{
    background-color:rgb(238,129,80) !important;
}

/* .modal-datepicker-panel {
    position: fixed !important;
    z-index: 9999 !important;
} */

::ng-deep .cdk-overlay-container{
    z-index: 9999 !important;
}

/* try to add this but not working https://github.com/angular/components/issues/9730 */
::ng-deep .mat-input-underline{ 
    visibility: visible !important; 
    z-index: -999 !important; 
    display: block !important; 
}