<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form ngNativeValidate (ngSubmit)="submit()">

        <label class="form-label mb-0 mt-2">Event</label>
        <input id="event" type="text" name="Event" class="form-control">

        <label class="form-label mb-0 mt-2">Date</label>
        <input id="date" type="text" name="Date" class="form-control">

        <label class="form-label mb-0 mt-2">Time</label>
        <input id="time" type="text" name="Time" class="form-control">

        <label class="form-label mb-0 mt-2">Location</label>
        <input id="location" type="text" name="Location" class="form-control">

        <label class="form-label mb-0 mt-2">Description</label>
        <input id="description" type="text" name="Description" class="form-control">

        <!-- Submit button -->
        <div class="text-end mt-3">
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </form>
</div>