<div class="profile-container" style="padding-top: 100px;">
  <div class="card" style="padding-top: 100px;">
    <div class="user-profile container" id="profile">
      <div class="imgcontainer">
        <img src="{{profilepicture||'assets/user.jpg'}}" class="profile-img" alt="Profile picture">
        <button type="button" id="follow" class="btn btn-primary" (click)="followUser()" *ngIf="!checkFollow() && !sameUser">Follow</button>
        <button type="button" id="follow" class="btn btn-primary" (click)="followUser()" *ngIf="checkFollow() && !sameUser">Unfollow</button>
        <button (click)="editUserInfo(content)" *ngIf="sameUser" type="button" class="btn btn-primary">Update</button>
  
      </div>
  
  
      <div class="card-body" name="information">
        <h5 class="card-title">Username: {{username}}</h5>
        <p class="card-text" id="name">Name: {{name}}</p>
        <p class="card-text" id="email">Email: {{email}}</p>
        <p class="card-text" id="role">Role: {{role}}</p>
        <p class="card-text" id="points">Points: {{points}}</p>
        <p class="card-text" id="school" *ngIf="school">School: {{school}}</p>
        <p class="card-text" id="events">Events Attended: {{eventsAttended}}</p>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit My Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  
        <form #myForm="ngForm" class="form-control" [formGroup]="registerForm" (ngSubmit)="onSubmit( )">
          <div class="form-group">
            <label for="username">User Name: </label>
            <input type="text" class="form-control" id="username" formControlName="username" name="username" ngModel
              [pattern]="unamePattern" [ngModel]="username"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" maxlength=20>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div *ngIf="f['username'].errors['required']">Username is required</div>
              <div *ngIf="f['username'].errors?.['pattern']"> Username can only contain letters numbers and underscores.
              </div>
            </div>
          </div>
          <div class="form-group">
            <br>
            <label for="name">Last Name:</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" name="lastname" ngModel
              [pattern]="unamePattern" [ngModel]="lastname"
              [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" maxlength=20>
            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
              <div *ngIf="f['lastname'].errors['required']">Last Name is required</div>
              <div *ngIf="f['lastname'].errors['pattern']"> Last name can only contain letters numbers and underscores.
              </div>
            </div>
            <div class="form-group">
              <br>
              <label for="name">First Name:</label>
              <input type="text" class="form-control" id="firstname" formControlName="firstname" name="firstname" ngModel
                [ngModel]="firstname" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" maxlength=20>
              <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">Last Name is required</div>
                <div *ngIf="f['firstname'].errors['pattern']"> First name can only contain letters numbers and
                  underscores.
                </div>
              </div>
            </div>
            <div class="form-group">
              <br>
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email" name="email" ngModel
                [ngModel]="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" maxlength=50>
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
              </div>
            </div>
            <br>
            <label for="school">School:</label>
            <select class="form-control" id="school" formControlName="school" name="school" ngModel>
              <option value="">Select a school</option>
              <option *ngFor="let school of schools" [value]="school">{{ school }}</option>
            </select>
            <div *ngIf="submitted && f['school'].errors" class="invalid-feedback">
              <div *ngIf="f['school'].errors['required']">School is required</div>
            </div>
          </div>
          <br>
          <div>
            <label for="profilepicture">Profile Picture:</label>
            <input class="form-control" type="file" id="profilepicture" name="profilepicture"
              (change)="onFileChange($event)" accept="image/*">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
  
        </form>
      </div>
    </ng-template>
  
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
      <div class="container posts-container" *ngIf="posts">
        <div class="row" style="width: 100%;" *ngFor="let post of posts">
          <div class="col col-lg-12 col-md-12 col-sm-12 justify-content-center" style="display: flex;">
            <div class="card">
              <div class="position-relative">
                <img src="{{post['imageurl']}}" class="card-img-top" alt="Image" style="height: 400px;">
                <div class="profile-overlay" style="width: 100%;">
                  <div class="row">
                    <div class="col col-lg-6" style="display: flex; align-items: center;">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                        class="profile-img" alt="Profile Image">
                      <h4 style="margin-right: 10px; margin-left: 10px;">{{post['author']}}</h4>
                    </div>
                    <div class="col col-lg-6" style="display: flex; align-items: center;">
                      <p style="margin-left: auto; margin-right: 10%;">{{post['location']}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col col-lg-6">
                    <p class="card-text">{{post['author']}}</p>
                  </div>
                  <div class="col col-lg-6" style="display: flex; align-items: center; margin-left: auto;">
                    <p>{{post['date']}}</p>
                    <p style="margin-left: 10px;">{{post['time']}}</p>
                    <div>
                      <span><i class="fa-regular fa-heart" style="color: #f70808; height: 50px;"></i></span>
                      <i class="fa-solid fa-heart" style="color: #ec1354; height: 50px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <!-- https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" -->
      <button (click)="showFollowers = !showFollowers">Show Followers ({{ followers.length }})</button>
      <ul *ngIf="showFollowers">
    <li *ngFor="let f of followers"><div class="fw-bold">
      {{f.firstname}} {{f.lastname}}
  </div>
  <p class="{{f._id}}"routerLink="/profile/{{f._id}}" appFollowListen style="cursor: pointer; color: aqua;">@{{f.username}}</p></li>
      </ul>
      </div>
  <!-- https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" -->
  
</div>


