<div class="card">
    <div class="user-profile container" id="profile">
        <div class="imgcontainer">
            <img src="{{profilepicture||'assets/user.jpg'}}" class="profile-img" alt="Profile picture">

        </div>

        <div class="card-body" name="information">
            <h5 class="card-title">Username: {{username}}</h5>
            <p class="card-text" id="name">Name: {{name}}</p>
            <p class="card-text" id="email">Email: {{email}}</p>
            <p class="card-text" id="role">Role: {{role}}</p>
            <p class="card-text" id="points">Points: {{points}}</p>
            <p class="card-text" id="school">School: {{school}}</p>
            <p class="card-text" id="events">Events Attended: {{eventsAttended}}</p>
        </div>
        <button (click)="editUserInfo(content)" type="button" class="btn btn-primary">Update</button>

    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit My Profile</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form #myForm="ngForm" class="form-control" (ngSubmit)="onSubmit(myForm)" name="f">

                <label for="username">User Name: </label>
                <input type="text" class="form-control" id="username" [value]="username" name="username" ngModel
                    #username="ngModel" [ngModel]="update_username">
                <br>
                <label for="name">Last Name:</label>
                <input type="text" class="form-control" [value]="lastname" id="lastname" name="lastname" ngModel
                    #lastname="ngModel" [ngModel]="update_lastname">
                <br>
                <label for="name">First Name:</label>
                <input type="text" class="form-control" [value]="firstname" id="firstname" name="firstname" ngModel
                    #firstname="ngModel" [ngModel]="update_firstname">
                <br>
                <label for="email">Email:</label>
                <input type="email" class="form-control" [value]="email" id="email" name="email" ngModel
                    #email="ngModel" [ngModel]="update_email">
                <br>
                <label for="school">School:</label>
                <input class="form-control" id="school" [value]="school" name="school" ngModel #school="ngModel"
                    [ngModel]="update_school">
                <br>
                <!-- This is a comment
                <input type="file" class="form-control" id="profilepicture" name="profilepicture"> -->
                <div>
                    <label for="profilepicture">Profile Picture:</label>
                    <input type="file" id="profilepicture" name="profilepicture" (change)="onFileChange($event)"
                        accept="image/*" required>
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>


            </form>
        </div>

    </ng-template>