/* @media only screen and (min-width: 1200px){
    .textbox {
        width:50rem;
    }
} */


/* .center{
    margin:auto;
    display:flex;
}

.container {
    display: flex;
    background-color: rgb(0, 81, 255);
    border: 2px solid #ffffff;

} */

.autocomplete_box {
    display: flex;
    align-items: center;
    margin-left: 15px;

}


/* .options {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.radio-label {
    color: #ffffff;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;

}

.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #ffffff6e;
    border-radius: 50%;
} */

/* .radio-label:hover .checkmark {
    border-color: #ffffff;
}

.radio-label input:checked~.checkmark {
    background-color: #ffffff;
} */

/* ref: https://codepen.io/aqib-hanief/pen/dwBQdy */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textbox {
    /* padding: 5px;
    margin: auto;
    border: 2px solid white;
    border-radius: 16px;
    font-size: 15px;
    transition: border-color 0.3s ease; */
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    border: 4px solid #fff;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
      padding 0.2s;
    transition-delay: 0.4s;
    color: white;
    font-size: 20px;

}
.inclicked {
    width: 360px;
    border-radius: 20px;
    padding: 0 15px;
    padding-right: 40px;
}
.btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn::before {
    content: "";
    width: 4px;
    height: 20px;
    background: #fff;
    position: absolute;
    transform: rotate(-45deg);
    bottom: -11px;
    right: -3px;
    transition: 0.3s;
  }
  
.close::before,
  .close::after {
    content: "";
    width: 2px;
    height: 17px;
    background: #fff;
    position: absolute;
    bottom: 6px;
    right: 14px;
}
  
.close::before {
    transform: rotate(-45deg);
}
  
.close::after {
    transform: rotate(45deg);
}
  

.textbox:focus {
    outline: none;
    border-color: #ffffff;
}