<div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 info-col">
            <app-info></app-info>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" >
            <app-form></app-form>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 d-md-block d-none">
            <app-recommendation></app-recommendation>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <app-posts></app-posts>
        </div>
        <div class="col-lg-3 col-md-2 d-md-block d-none">
            <app-following></app-following>
        </div>
    </div>
</div>
